<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      SDN 10 PELAIHARI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-text-center">
    <strong>BERIKUT ADALAH DAFTAR</strong>

    <!-- Tombol Data Siswa -->
    <ion-button expand="full" href="/siswa-list">
      Data Siswa
    </ion-button>

    <!-- Tombol Data Guru -->
    <ion-button expand="full" href="/guru-list">
      Data Guru
    </ion-button>
  </div>
</ion-content>